.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}

/* Implemented Bootstrap layout into plain CSS above */

body {
  background-color: white;
  font-family: 'Segoe UI';
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  background-color: white;
  min-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-brand {
  font-size: 2rem;
  color: #282c348a;
  margin-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #282c348a;
}

.nav-link:hover {
  color: #505052d5;
}

.nav-right {
  margin-left: auto;
  margin-right: 1rem;
}

.home {
  display: inline;
  align-items: center;
  justify-content: center;
}

.middle-img {
  border-radius: 1%;
  width: 100%;
  background-repeat: no-repeat;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}

.txt-img {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  color: #1f2228d5;
  font-size: 3vw;
  max-width: 53vw;
}

.txt-img-admin {
  top: 8.5rem;
}

.box {
  padding-bottom: 70px;
}

.footer {
  background-color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  height: 70px;
  bottom: 0;
  padding: 1%;
}
.f-link {
  color: #282c348a;
  font-size: large;
  margin-inline: 3vw;
}

p {
  margin: 10px;
}

.about-parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-header {
  font-size: calc(5px + 4vw);
  color: #282c34a6;
}

.about-txt {
  margin-left: 2vw;
  color: #282c34d5;
}

.service-img {
  width: 100%;
  margin: 3%;
  border-radius: 3%;
}

.service-li {
  border-radius: 1rem;
  margin-bottom: 20px;
  background-color: #afa5a5;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
}

table:hover {
  border-radius: 1rem;
  background-color: #9c8f8f;
}

th > span {
  color: black;
  font-weight: bold;
}

th,
td {
  width: calc(35px + 21vw);
  padding: 1%;
}

.service-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdc2c2;
  color: whitesmoke;
  font-weight: 500;
}

.srv-h {
  font-size: calc(10px + 3.5vw);
  text-align: center;
  background-color: #cdc2c2;
  color: snow;
  margin: -1px 0;
}

.table-txt {
  font-size: large;
}

#contact {
  background-color: #cdc2c2;
  color: #1f2228d5;
  font-size: '1.2rem';
  padding: 3% 1%;
}

.btn-div {
  position: relative;
  height: 45px;
  margin: 2% 0;
}

.btn {
  padding: 10px 12px;
  background-color: #4e6ecf;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 10%;
  transform: translate(-50%, 0);
  border-radius: 8%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #3e61c9;
}

.btn-link {
  color: #fff;
  font-size: medium;
}

.a-contactus {
  padding: 7px 12px;
  text-decoration: none;
  border: 2px solid #282c348a;
  border-radius: 10vh;
  color: #282c348a;
}

.a-contactus:hover {
  color: black;
  border: 2px solid black;
}

.user {
  background: transparent;
  font-size: medium;
  padding: 6px 8px;
  border: none;
  color: #282c348a;
  margin-inline: 0.8rem;
  text-decoration: none;
}

.admin-lane {
  background-color: #deed0c;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 500;
  margin-bottom: 1%;
}

#service,
#about {
  margin: 3% 0;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  color: #1f2228d5;
  font-size: 3vw;
  margin-top: 50px;
}

.input {
  min-height: 30px;
  min-width: 350px;
  border: none;
  font-size: calc(15px + 0.5vw);
  color: #1f2228d5;
  margin: 10px 10px;
}

label {
  font-size: calc(15px + 0.5vw);
  margin: 10px 0;
}

.input:hover {
  border: 1px solid #4e6ecf7c;
}

.btn-signin {
  padding: 9px 16px;
  border-radius: 5%;
  background-color: #4e6ecf;
  color: white;
  font-size: medium;
  margin: 10px 0;
}
